@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Playfair Display;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #ff7a3dee;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2.6rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.name {
    height: 3.5rem;
    width: 3.5rem;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Home Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 26vw;
    margin-left: 8rem;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    border: 2px solid #ff5202ee;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
    justify-content: justify;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.3rem;
    height: 4.3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 0.3rem var(--main-color);
    font-size: 2.3rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

/* Education Section */
.education {
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 9;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 18px;
    width: 18px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    padding: 25px 40px;
    border-radius: 4rem;
    box-shadow: 0 0 7px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--main-color);
}

.timeline-content h3 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 0 1.7rem;
    font-weight: 500;
}

.timeline-content p {
    font-size: 20px;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

/* Skills Section */
.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .6s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0;
    justify-content: center;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #1f242d;
    font-size: 1rem;
    color: #fff;
    transition: 0.3s ease;
}

.tech-item img {
    width: 20px;
    height: 20px;
}

/* Projects Section */
.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    padding: 0 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    max-width: 450px;
    margin: 0 auto;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.8rem;
    margin: .3rem 0 1 rem;
}

.portfolio-layer i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.7rem;
    color: var(--second-bg-color);
    margin-top: 1%;
}

/* Contact Section */
.contact {
    padding: 2rem 9%;
    background: var(--bg-color);
    /* Matches footer style */
    color: #fff;
    text-align: center;
}

.contact .heading {
    font-size: 6rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.contact form {
    max-width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    border: 0.1rem solid var(--text-color);
    border-radius: 0.8rem;
    outline: none;
    box-shadow: 0 0 0.3rem var(--main-color);
}

.contact form input:focus,
.contact form textarea:focus {
    border: 0.1rem solid var(--main-color);
    /* Border color change */
    box-shadow: 0 0 0.3rem var(--main-color);
    /* Add glow effect */
}

.contact form textarea {
    resize: none;
    height: 150px;
}

.contact form .btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background: #ff6b27ee;
    color: #fff;
    transition: 0.3s;
    letter-spacing: 0.15rem;
    width: 15vw;
    margin-top: 1.3rem;
}

/* Footer Section */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 2rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a i {
    font-size: 2.5rem;
    color: var(--second-bg-color);
}

/* Breakpoint */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .education {
        padding: 7rem;
    }
    .skills {
        padding: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
       padding: 2rem 3%; 
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        flex-direction: column;
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .skills h2 {
        margin-bottom: 3rem;
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
    .btn {
        padding: 0.6rem 1.4rem;
        margin: 1rem auto;
        font-size: 1.4rem;
        display: block;
        width: fit-content;
        background-color: var(--main-color);
        color: var(--second-bg-color);
        border-radius: 2rem;
        border: 2px solid var(--main-color);
        text-align: center;
    }
    
    .btn:hover {
        background-color: transparent;
        color: var(--main-color);
        box-shadow: 0 0 0.3rem var(--main-color);
    }
}

@media (max-width: 617px) {
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}